# Reading files

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("examples/ex1.csv")
data.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
!head examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
data = pd.read_csv("examples/ex2.csv", header = None)
data.head()

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
data = pd.read_table("examples/ex2.csv", sep=",", names = ['a', 'b', 'c', 'd', 'message'])
data

/home/admb080/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
!head examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
data = pd.read_csv("examples/ex4.csv", skiprows = [0, 2, 3])
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
data = pd.read_csv("examples/ex4.csv", skiprows = [0, 2, 3], index_col = ['message'])
data

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [23]:
data = pd.read_csv("examples/ex4.csv", skiprows = [0, 2, 3], index_col = ['message', 'a'])
data

            b   c   d
message a
hello   1   2   3   4
world   5   6   7   8
foo     9  10  11  12

In [24]:
!cat examples/ex3.csv

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [33]:
data = pd.read_csv("examples/ex3.csv", sep="\s+")
data

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [25]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [27]:
data = pd.read_csv("examples/ex5.csv")
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
senti = {'message':[None, 'foo'], 'something':['two']}
data = pd.read_csv("examples/ex5.csv", na_values = senti)
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [36]:
data.fillna(0, inplace=True)
data

  something  a   b     c   d message
0       one  1   2   3.0   4       0
1         0  5   6   0.0   8   world
2     three  9  10  11.0  12       0

# Reading in chuncks

In [37]:
!head examples/ex6.csv

one,two,three,four,key
0.467976300189,-0.0386485396255,-0.295344251987,-1.82472622729,L
-0.358893469543,1.40445260007,0.704964644926,-0.200638304015,B
-0.50184039929,0.659253707223,-0.421690619312,-0.0576883018364,G
0.204886212202,1.07413396504,1.38836131252,-0.982404023494,R
0.354627914484,-0.133115852296,0.283762637978,-0.837062961653,Q
1.81748001608,0.742272722638,0.419394843928,-2.25103520513,Q
-0.776764319165,0.935517747061,-0.332871759623,-1.87564085416,U
-0.913134961617,1.53062351168,-0.572656719239,0.477252252981,K
0.358479538224,-0.49757199147,-0.367016188009,0.507701778685,S

In [69]:
data_small = pd.read_csv("examples/ex6.csv", nrows = 10)
data_small

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [68]:
data_chunck = pd.read_csv("examples/ex6.csv", chunksize=100)
#data_chunck

tot = pd.Series([])
for line in data_chunck:
    tot = tot.add(line['key'].value_counts(), fill_value = 0)

tot = tot.sort_values(ascending=False)
tot.head()

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
dtype: float64

## Manually working with the delimiter

In [74]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"
"1","2","3","4"

In [80]:
import csv
f = open("examples/ex7.csv")
data = csv.reader(f)
data
for line in data:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']
['1', '2', '3', '4']

In [92]:
lines = list(csv.reader(open("examples/ex7.csv")))
display(lines)

header, values = lines[0], lines[1:]
dict_lines = {d:v for d, v in zip(header, zip(*values))}
display(dict_lines)

data = pd.DataFrame(dict_lines)
data

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3'], ['1', '2', '3', '4']]

{'a': ('1', '1', '1'), 'b': ('2', '2', '2'), 'c': ('3', '3', '3')}

   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3